.button {
    background-color: aquamarine;
    margin-left: 1000px;
}
.purple {
    color: orange;
}

.switch_button{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px !important;
}