html, body {
    width: 100%;
    margin: 0; /* 不要なマージンを削除 */
    padding: 0; /* 不要なパディングを削除 */
}

button {
    background-color: #666;
    color: white;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 35px;
    font-size: 16px;
    display: flex ;
    justify-content: flex-end ;
  }
button {
    color: red;
    background-color: aquamarine;
    margin: 0;
    
}
.purple {
    color: orange;
}

.switch_button{
    display: flex ;
    justify-content: flex-end ;
    float: right;

}
.container {
    
}
