.button {
    background-color: aquamarine;
    margin-left: 1000px;
}
.purple {
    color: orange;
}

.switch_button{
    display: flex !important;
    justify-content: flex-end !important;
    margin-right: 0px !important;
}
.container {
    float: right;
}