html, body {
    width: 100%;
    margin: 0; /* 不要なマージンを削除 */
    padding: 0; /* 不要なパディングを削除 */
}

.logo {
    border: 2px dashed black;
    padding: 10px;
    width: 100px;
    text-align: center;
    margin-right: auto;
    margin-left: 20px;
  }